{% extends 'base.html' %}

{% block content %}

<div class="card-group" style="column-gap: 15px; padding: 20px; padding-top: 50px;">
    {% for movie in movies %}
    <div class="card" style="box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;">
        {% if movie['status'] == 'active' %}
        <a href="/movie/{{ movie['id'] }}">
            <img src="{{ movie['image'] }}" height="200px" class="card-img-top" alt="{{ movie['name'] }}">
        </a>
    <div class="card-body">
        <a style="text-decoration: none; color:black; font-size: 25px;" href="/movie/{{movie['id']}}">
            <h2>{{ movie['name']|upper }}</br>
        </a>        

        <p class="card-text" style="font-size:20px; padding-top: 10px;">{{ movie['producer']|upper }}</p>
        <p class="card-text"><small class="text-muted">IMDb: {{ movie['imdb'] }}</small></p>
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
{% endblock %}
